<section>
	<div class="notice">
		<ul>
			<li>
				<div class="media">
					<div class="media-left media-top">
						<a href="#">
						<img class="media-object" src="img/profile.png" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">家庭作业</h4>
						<p>时光在飞逝，岁月在穿梭，春夏秋冬在季节轮回中更替，日月星辰在银河怀里璀璨变换。时间悄悄流逝，流年匆匆而过，慢慢地逐渐明白了，原来时间真的教会我们许多，让我们懂得许多。匆匆流年，让我为你执笔，说一寸旧日故事，道一段青春记忆，倾一心岁月感概。
						</p>
					</div>
				</div>
				
			</li>
			<li>
				<div class="media">
					<div class="media-left media-top">
						<a href="#">
						<img class="media-object" src="img/profile.png" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">家庭作业</h4>
						<p>时光在飞逝，岁月在穿梭，春夏秋冬在季节轮回中更替，日月星辰在银河怀里璀璨变换。时间悄悄流逝，流年匆匆而过，慢慢地逐渐明白了，原来时间真的教会我们许多，让我们懂得许多。匆匆流年，让我为你执笔，说一寸旧日故事，道一段青春记忆，倾一心岁月感概。
						</p>
					</div>
				</div>
				
			</li>
			<li>
				<div class="media">
					<div class="media-left media-top">
						<a href="#">
						<img class="media-object" src="img/profile.png" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">家庭作业</h4>
						<p>时光在飞逝，岁月在穿梭，春夏秋冬在季节轮回中更替，日月星辰在银河怀里璀璨变换。时间悄悄流逝，流年匆匆而过，慢慢地逐渐明白了，原来时间真的教会我们许多，让我们懂得许多。匆匆流年，让我为你执笔，说一寸旧日故事，道一段青春记忆，倾一心岁月感概。
						</p>
					</div>
				</div>
				
			</li>
		</ul>
	</div>
</section>